body{
  margin: 0;
  padding: 0;
  background: #fff;
  @include font-size(18);
  &.no-scroll{
    overflow: hidden;
  }
  & *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

a{
  text-decoration: none;
}
.container{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
}
.df{
  display: flex;
}
.dn{
  display: none;
}

.a-center{
  align-items: center;
}
.j-spc-btw{
  justify-content: space-between;
}
.j-center{
  justify-content: center;
}
.t-center{
  text-align: center;
}
input{
  outline: none;
  border: none;
  box-shadow: none;
}
.section{
  &__sub{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    @include font-size(18);
    line-height: 27px;
    margin-bottom: 10px;
    color: $de-blue;
  }
  &__title{
    font-family: 'Volkhov', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    @include font-size(50);
    line-height: 65px;
    color: $y-blue;
  }
}
.overlay{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba($v-black, .5);
  top: 0;
  left: 0;
  z-index: 99;
  &.open{
    display: flex;
  }
}