.btn{
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
  font-family: "Google Sans Flex", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  transition: all .3s;

  &__link{
    color: $ch-green;
    @include font-size(17);
    font-weight: 500;
  }
  &__outline{
    color: $ch-green;
    border: 1px solid $ch-green;
    border-radius: 5px;
    padding: 9px 21px;
    @include font-size(17);
    font-weight: 500;
  }
  &__orange{
    padding: 19px 26px 18px 27px;
    background: $orange;
    color: $white;
    border-radius: 10px;
    @include font-size(18);
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  }
  &__play{
    padding-left: 73px;
    position: relative;
    color: $d-sliver;
    @include font-size(17);
    font-family: 'Poppins', sans-serif;
    &:before{
      content: '';
      width: 52px;
      height: 52px;
      background: $j-bean;
      border-radius: 100%;
      left: 0;
      position: absolute;
      box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    }
    &:after{
      content: '';
      width: 52px;
      height: 52px;
      background: url('#{$img-path}/play.svg') no-repeat center center;
      border-radius: 100%;
      left: 0;
      position: absolute;
    }
  }
  &__gray{
    border-radius: 100%;
    background-color: $cultured;
    width: 36px;
    height: 36px;
    &--leaf{
      background-image: url('#{$img-path}/leaf.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }
    &--map{
      background-image: url('#{$img-path}/map.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }
    &--send{
      background-image: url('#{$img-path}/send.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  &__like{
    width: 20px;
    height: 20px;
    background: url('#{$img-path}/like.svg') no-repeat;
  }
  &__subscribe{
    background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
    color: $white;
    width: 168px;
    height: 68px;
    border-radius: 10px;
    @include font-size(17);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    &:hover{
      opacity: .8;
    }
  }
  &__menu{
    display: none;
  }
}