@media screen and (max-width: 1240px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
  header{
    .nav{
      &__content{
        padding-right: 0;
      }
    }
  }

  .category{
    &__item{
      width: calc(100% / 4 - 26px);
    }
    &__title{
      white-space: wrap;
    }
  }
  .subscribe{
    .container:before, .container:after{
      right: 0;
    }
  }
  .destination{
    &__item{
      &:last-child{
        margin-left: 0;
        &:after{
          display: none;
        }
      }
    }
  }
  .subscribe{
    &:after{
      right: 0;
    }
  }

}
@media screen and (max-width: 1024px){
  header{
    padding-bottom: 80px;
    .nav{
      &__actions{
        gap: 35px;
        margin-right: 35px;
      }
    }
    .banner{
      &__right{
        max-width: 500px;
        width: 100%;
        &:before{
          width: 100px;
          height: 100px;
          background-size: 100%;
          left: 100px;
          top: 0;
        }
        &:after{
          width: 100px;
          height: 100px;
          background-size: 100%;
          right: 0;
          top: 80px;
        }
      }
    }
  }

  .category{
    margin-top: 50px;
    &__list{
      margin-top: 40px;
    }
    &__item{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .destination{
    padding-top: 60px;
    padding-bottom: 90px;
    &__list{
      margin-top: 40px;
    }
  }
  .testimonials{
    padding-top: 100px;
    padding-bottom: 100px;
    .testimonial{
      &.swiper-slide{
        padding: 20px 25px;
      }
      &__text{
        @include font-size(16);
        line-height: 24px;
      }
      &__name{
        @include font-size(16);
      }

    }
  }
  .partners{
    padding-bottom: 100px;
  }
  .menu{
    gap: 30px;
    margin-right: 40px;
  }
  .subscribe{
    &__content{
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
@media screen and (max-width: 900px){
  .footer{
    &__content{
      flex-wrap: wrap;
    }
    &__col{
      &:last-child{
        width: 100%;
        margin-top: 20px;

      }
    }
    &__copyright{
      margin-top: 30px;
     margin-bottom: 30px;
    }
  }
  header{
    .banner{
      &__title{
        @include font-size(60);
        line-height: 70px;
        span{
          &:after{
            width: 280px;
            background-size: 100%;
            //left: 0;
          }
        }
      }
    }
    .nav{
      &__lang{
        &--selected{
          @include font-size(15);
        }
      }
      &__actions{
        gap: 20px;
        margin-right: 20px;
      }
    }
  }
  .menu{
    gap: 20px;
    margin-right: 20px;
    &__link{
      @include font-size(15);
    }
    &__item{
      &:nth-child(2){
        margin-right: 0;
      }
    }
  }
  .btn{
    &__link{
      @include font-size(15);
    }
    &__outline{
      @include font-size(15);

    }
  }
  .section{
    &__title{
      @include font-size(42);

    }
  }
  .book{
    &__content{
      gap: 20px;
    }
  }
  .subscribe{
    margin-bottom: 100px;
   &__title{
     @include font-size(24);
     line-height: 32px;
     padding-left: 40px;
     padding-right: 40px;
   }
  }
  .partners{
    &__item{
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .destination{
    &__item{
      height: auto;
    }
  }
}
@media screen and (max-width: 768px){
  header{
    padding-top: 30px;
    padding-bottom: 40px;
    .btn__menu{
      display: flex;
      z-index: 999;
    }
    .banner{
      &__right{
        max-width: 400px;
      }
    }
    .nav{
      &__actions{
       //display: none;
        margin-left: auto;
      }
      &__lang{

        margin-right: 20px;
      }
    }
  }
  .menu{
    display: none;
    &.open{
      display: flex;
      position: fixed;
      width: 300px;
      height: 100vh;
      z-index: 999;
      flex-direction: column;
      right: 0;
      top: 0;
      align-items: flex-start;
      padding:50px  30px 30px;
      background: $white;
      margin-right: 0;
      box-shadow: 0px 1.8518518209457397px 3.1481480598449707px rgba(0, 0, 0, 0), 0px 8.148148536682129px 6.518518447875977px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px rgba(0, 0, 0, 0.01), 0px 64.81481170654297px 46.85185241699219px rgba(0, 0, 0, 0.02), 0px 100px 80px rgba(0, 0, 0, 0.02);

    }
  }

  .category{
    &__list{
      flex-wrap: wrap;
      margin-top: 25px;
    }
    &__item{
      width: calc(100%/2 - 18px);
      &:hover{
        &:after{
          width: 50px;
          height: 50px;
          bottom: -15px;
          left: -15px;
        }
      }
    }
  }
  .book{
    &__content{
      flex-wrap: wrap;
    }
    &__left{
      width: 100%;
    }
    &__right{
      margin: 0 auto;
    }
  }
  .testimonials{
    padding-bottom: 50px;
    &__content{
      flex-direction: column;
    }
    &__left{
      margin-bottom: 60px;
    }
  }
  .swiper-vertical {
    .swiper-button-next, .swiper-button-prev{
      right: 40px;
    }
  }
  .partners{
    &__list{
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    padding-bottom: 50px;
  }
  .destination{
    padding-top: 40px;
    padding-bottom: 50px;
    &__item{
      overflow: hidden;
    }
    &__list{
      gap: 20px;
    }
    &__info{
      &--title{
        flex-direction: column;
        gap: 5px;
      }
    }
  }
  .swiper-pagination{
    display: none;
  }
  .footer{
    &__col{
      &:first-child{
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
      }
    }
    &__logo{
      text-align: center;
    }
    &__text{
      margin: 0 auto;
      text-align: center;
    }
    &__socials{
      justify-content: center;
    }
    &__sub{
      text-align: center;
    }
    &__apps{
      justify-content: center;
    }
  }
}
@media screen and (max-width: 600px){
  header{
    padding-bottom: 0;
    .banner{
      &__content{
        flex-direction: column;
      }
      &__left{
        padding-top: 30px;
      }
      &__right{
        position: relative;
        margin-left: auto;
        margin-top: -150px;
      }
      &__sub{
        @include font-size(16);
        margin-bottom: 20px;
      }
      &__title{
        @include font-size(40);
        line-height: 49px;
        max-width: 480px;
        width: 100%;
        margin-bottom: 20px;
        br{
          display: none;

        }
        span:after{
          width: 180px;
          bottom: 10px;
          left: -20px;
        }
      }
      &__text{
        @include font-size(14);
        line-height: 24px;
        margin-bottom: 24px;
      }
      &__actions{
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .section{
    &__sub{
      @include font-size(16);
    }
    &__title{
      @include font-size(32);
      line-height: 42px;
    }
  }
  .category{
    &__item{
      padding-bottom: 25px;
      padding-top: 25px;
      &:nth-child(2){
        padding-top: 25px;
      }

    }
    &__item:nth-child(2) &__icon{
      height: 78px;
      background-size: contain;
      background-position: center center;
      margin-bottom: 29px;
    }
    &__title{
      @include font-size(18);
    }
    &__text{
      @include font-size(14);
      line-height: 24px;
    }
  }
  .destination{
    &__list{
      flex-direction: column;
    }
    &__info{
      &--title{
        flex-direction: row;
      }
    }
    &__img{
      img{
        object-fit: cover;
        width: 100%;
        height: 450px;
      }
    }
  }
}
@media screen and (max-width: 480px){
  header{
    .banner{
      &__right {
        max-width: 250px;
        &:before, &:after{
          display: none;
        }
      }
    }
    .nav{
      &__logo{
        width: 70px;
      }
      &__lang{
        &--selected{
          @include font-size(13);
        }
      }
    }

  }
  .btn{
    &__link{
      @include font-size(13);
    }
    &__orange{
      @include font-size(16);
    }
    &__play{
      @include font-size(16);
    }
    &__outline{
      @include font-size(13);
      padding: 8px 10px;
    }
    &__subscribe{
      width: 100%;
    }
  }
  .footer{
   &__menu{
     &--link{
       @include font-size(14)
     }
   }
    &__title{
      @include font-size(18);
      margin-bottom: 15px;
    }
  }
  .book{
    &__ongoing{
      bottom: auto;
      top: 80px;
    }
  }
  .category{
    &__item{
      width: 100%;
    }
  }
  .testimonials{
    &__left{
      margin-bottom: 40px;
    }
    &__slider{
      padding-right: 40px;
    }
    .testimonial{
      &__text{
        @include font-size(14);
      }
    }
    .swiper-vertical .swiper-button-next, .swiper-vertical .swiper-button-prev{
      right: 15px;
    }
    .swiper{
      &-slide{
        &-next{
          left: 20px;

        }
        &-next .testimonial__img{
          display: none;
        }
      }
    }
    .section{
      &__sub{
        text-align: center;
      }
      &__title{
        text-align: center;

      }
    }
  }
  .subscribe{
    &:after{
      width: 50px;
      background-size: 100% 100%;
    }
    &__form{
      flex-direction: column;
      &--input{
        width: 100%;
      }
    }
    &__content{
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &__title{
      @include font-size(20);
      line-height: 28px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 30px;
    }

  }
}