body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 18px;
  font-size: 1.125rem;
}
body.no-scroll {
  overflow: hidden;
}
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.df {
  display: flex;
}

.dn {
  display: none;
}

.a-center {
  align-items: center;
}

.j-spc-btw {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.t-center {
  text-align: center;
}

input {
  outline: none;
  border: none;
  box-shadow: none;
}

.section__sub {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 10px;
  color: #5E6282;
}
.section__title {
  font-family: "Volkhov", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 65px;
  color: #14183E;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(8, 8, 9, 0.5);
  top: 0;
  left: 0;
  z-index: 99;
}
.overlay.open {
  display: flex;
}

.btn {
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
  font-family: "Google Sans Flex", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
.btn__link {
  color: #212832;
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 500;
}
.btn__outline {
  color: #212832;
  border: 1px solid #212832;
  border-radius: 5px;
  padding: 9px 21px;
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 500;
}
.btn__orange {
  padding: 19px 26px 18px 27px;
  background: #F1A501;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  font-size: 1.125rem;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
}
.btn__play {
  padding-left: 73px;
  position: relative;
  color: #686D77;
  font-size: 17px;
  font-size: 1.0625rem;
  font-family: "Poppins", sans-serif;
}
.btn__play:before {
  content: "";
  width: 52px;
  height: 52px;
  background: #DF6951;
  border-radius: 100%;
  left: 0;
  position: absolute;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}
.btn__play:after {
  content: "";
  width: 52px;
  height: 52px;
  background: url("../img/play.svg") no-repeat center center;
  border-radius: 100%;
  left: 0;
  position: absolute;
}
.btn__gray {
  border-radius: 100%;
  background-color: #F5F5F5;
  width: 36px;
  height: 36px;
}
.btn__gray--leaf {
  background-image: url("../img/leaf.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.btn__gray--map {
  background-image: url("../img/map.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.btn__gray--send {
  background-image: url("../img/send.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.btn__like {
  width: 20px;
  height: 20px;
  background: url("../img/like.svg") no-repeat;
}
.btn__subscribe {
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  color: #fff;
  width: 180px;
  height: 68px;
  border-radius: 10px;
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.btn__subscribe:hover {
  opacity: 0.8;
}
.btn__menu {
  display: none;
}

header {
  padding-top: 47px;
  position: relative;
  padding-bottom: 117px;
}
header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/header-left.svg") no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}
header:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/header-right.svg") no-repeat right top;
  width: 100%;
  height: 100%;
  z-index: -1;
}
header .nav .container {
  max-width: 1160px;
}
header .nav__actions {
  gap: 52px;
  margin-right: 42px;
}
header .nav__lang {
  font-family: "Google Sans Flex", sans-serif;
  position: relative;
}
header .nav__lang--selected {
  padding-right: 16px;
  color: #212832;
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 500;
  background: url("../img/arrow-down.svg") no-repeat right center;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}
header .nav__lang--selected.open {
  background: url("../img/arrow-up.svg") no-repeat right center;
}
header .nav__lang--list {
  position: absolute;
  border: 1px solid #212832;
  padding: 5px 10px;
  border-radius: 5px;
  flex-direction: column;
  gap: 10px;
  right: 0;
  top: 27px;
  transition: all 0.3s;
  background: #fff2db;
  z-index: 99;
}
header .nav__lang--list.open {
  display: flex;
}
header .nav__lang--item {
  cursor: pointer;
}
header .banner {
  padding-top: 18px;
}
header .banner__content {
  position: relative;
  padding-left: 30px;
}
header .banner__left {
  padding-top: 112px;
  max-width: 545px;
  width: 100%;
  position: relative;
  z-index: 4;
}
header .banner__right {
  position: absolute;
  right: -10px;
}
header .banner__right:before {
  content: "";
  width: 167px;
  height: 157px;
  position: absolute;
  background: url("../img/plane.svg");
  top: 54px;
  left: 133px;
}
header .banner__right:after {
  content: "";
  width: 167px;
  height: 157px;
  position: absolute;
  background: url("../img/plane.svg");
  top: 102px;
  right: -18px;
  z-index: 0;
}
header .banner__right img {
  position: relative;
  z-index: 1;
}
header .banner__sub {
  color: #DF6951;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  white-space: nowrap;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 24px;
}
header .banner__title {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 84px;
  font-size: 5.25rem;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181E4B;
  margin-bottom: 30px;
}
header .banner__title span {
  position: relative;
}
header .banner__title span:after {
  content: "";
  width: 385px;
  height: 12px;
  background: url("../img/text-border.svg") no-repeat bottom;
  position: absolute;
  left: -35px;
  bottom: 18px;
  z-index: -1;
}
header .banner__text {
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
  line-height: 30px;
  color: #5E6282;
  max-width: 477px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 34px;
}
header .banner__actions {
  gap: 44px;
}

.footer .container {
  max-width: 1065px;
}
.footer__content {
  gap: 75px;
}
.footer__col:nth-child(2) {
  padding-left: 5px;
}
.footer__col:nth-child(4) {
  padding-left: 17px;
}
.footer__col:last-child {
  padding-left: 5px;
  padding-top: 22px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__logo--link {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 66px;
  color: #181E4B;
  margin-bottom: 19px;
}
.footer__text {
  max-width: 207px;
  width: 100%;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.25;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  color: #5E6282;
}
.footer__title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.25;
  color: #080809;
  margin-bottom: 34px;
  margin-top: 21px;
}
.footer__menu--link {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25;
  color: #5E6282;
  white-space: nowrap;
}
.footer__menu--item {
  margin-bottom: 12px;
}
.footer__menu--item:last-child {
  margin-bottom: 0;
}
.footer__socials {
  gap: 25px;
  margin-bottom: 29px;
  margin-left: 6px;
}
.footer__socials--item {
  width: 41px;
  height: 41px;
  border-radius: 100%;
  background-color: transparent;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  transition: all 0.3s;
}
.footer__socials--item:hover {
  transition: all 0.3s;
}
.footer__socials--item:hover:before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../img/s-hover.svg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.3s;
}
.footer__socials--fb {
  background-image: url("../img/fb.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.footer__socials--fb:hover {
  background-image: url("../img/fb-h.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.footer__socials--instagram {
  background-image: url("../img/insta.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.footer__socials--instagram:hover {
  background-image: url("../img/insta-h.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.footer__socials--twitter {
  background-image: url("../img/twitter.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.footer__socials--twitter:hover {
  background-image: url("../img/twitter-h.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.footer__sub {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding-left: 4px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #5E6282;
  margin-bottom: 16px;
}
.footer__apps {
  gap: 7px;
  padding-left: 2px;
}
.footer__apps--link {
  width: 107px;
  height: 35px;
}
.footer__apps--google {
  background: url("../img/google.svg") no-repeat;
}
.footer__apps--apple {
  background: url("../img/apple.svg") no-repeat;
}
.footer__copyright {
  margin-top: 84px;
  margin-bottom: 79px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.25;
  color: #5E6282;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 28px 85px 34px 34px;
  box-shadow: 0px 1.8518518209px 3.1481480598px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px rgba(0, 0, 0, 0.02), 0px 100px 80px rgba(0, 0, 0, 0.02);
  min-height: 245px;
  max-width: 504px;
  width: 100%;
  height: 245px !important;
}
.swiper-slide-next {
  top: -156px;
  left: 50px;
  z-index: -1;
  border: 2px solid #f7f7f7;
  border-radius: 10px;
  background: transparent;
  box-shadow: none;
  max-height: 232px;
  min-height: 232px;
  padding-bottom: 22px;
}
.swiper-slide-prev {
  opacity: 0;
}
.swiper-vertical .swiper-button-prev {
  left: auto;
  right: 31px;
  top: calc(50% - 40px);
  width: 16px;
  height: 10px;
  background: url("../img/slider.svg") no-repeat;
  transform: rotate(180deg);
}
.swiper-vertical .swiper-button-prev svg {
  display: none;
}
.swiper-vertical .swiper-button-next {
  left: auto;
  right: 31px;
  width: 16px;
  height: 10px;
  bottom: calc(50% - 36px);
  background: url("../img/slider.svg") no-repeat;
}
.swiper-vertical .swiper-button-next svg {
  display: none;
}
.swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 84px;
  gap: 25px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #E5E5E5;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #39425D;
}

.menu {
  margin-left: auto;
  gap: 55px;
  margin-right: 86px;
}
.menu__link {
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 500;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #212832;
}
.menu__item:nth-child(2) {
  margin-right: 9px;
}
.menu__item:nth-child(7) {
  margin-right: 7px;
}

.category {
  margin-top: 104px;
  position: relative;
}
.category:after {
  content: "";
  width: 153px;
  height: 166px;
  background: url("../img/plus1.svg") no-repeat;
  position: absolute;
  top: 0;
  right: 58px;
}
.category .container {
  margin-left: 101px;
}
.category__list {
  margin-top: 67px;
  gap: 35px;
  padding-bottom: 33px;
}
.category__item {
  background: #fff;
  border-radius: 36px;
  padding: 44px 42px 45px;
  cursor: pointer;
  position: relative;
  max-width: 279px;
}
.category__item:hover {
  box-shadow: 0px 1.8518518209px 3.1481480598px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px rgba(0, 0, 0, 0.02), 0px 100px 80px rgba(0, 0, 0, 0.02);
}
.category__item:hover:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -33px;
  left: -35px;
  background: #DF6951;
  border-radius: 30px 0px 10px 0px;
  z-index: -1;
}
.category__item:first-child .category__icon {
  background: url("../img/c1.svg") no-repeat;
  margin-left: 64px;
  margin-bottom: 28px;
}
.category__item:first-child .category__title {
  padding-left: 11px;
}
.category__item:first-child .category__text {
  max-width: 181px;
  margin-left: 22px;
}
.category__item:nth-child(2) .category__icon {
  width: 166px;
  height: 153px;
  background: url("../img/c2.svg") no-repeat;
  margin-left: 7px;
  margin-bottom: -3px;
}
.category__item:nth-child(2) .category__title {
  margin-left: -7px;
}
.category__item:nth-child(2) .category__text {
  margin-left: 4px;
}
.category__item:nth-child(3) {
  padding-top: 40px;
}
.category__item:nth-child(2) {
  padding-top: 0;
  margin-left: 6px;
}
.category__item:nth-child(3) .category__icon {
  background: url("../img/c3.svg") no-repeat;
  margin-left: 70px;
  margin-bottom: 32px;
}
.category__item:nth-child(3) .category__title {
  margin-left: -5px;
}
.category__item:nth-child(3) .category__text {
  margin-left: -2px;
}
.category__item:nth-child(4) .category__icon {
  background: url("../img/c4.svg") no-repeat;
  margin-left: 55px;
  margin-bottom: 18px;
}
.category__item:nth-child(4) .category__title {
  text-align: left;
  margin-left: 13px;
}
.category__item:nth-child(4) .category__text {
  margin-left: -24px;
}
.category__item:nth-child(4) {
  padding-top: 54px;
}
.category__icon {
  width: 92px;
  height: 78px;
  margin: 0 auto 29px;
}
.category__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 27px;
  color: #1E1D4C;
  white-space: nowrap;
  margin-bottom: 15px;
}
.category__text {
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  color: #5E6282;
  font-family: "Poppins", sans-serif;
}

.destination {
  padding-top: 123px;
  padding-bottom: 186px;
}
.destination .container {
  margin-left: 82px;
}
.destination .section__sub {
  margin-bottom: 9px;
}
.destination .section__title {
  margin-left: 34px;
}
.destination__list {
  margin-top: 59px;
  gap: 35px;
  margin-left: 23px;
}
.destination__item {
  position: relative;
  border-radius: 24px;
  height: 457px;
  overflow: hidden;
  box-shadow: 0px 1.8518518209px 3.1481480598px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px rgba(0, 0, 0, 0.02), 0px 100px 80px rgba(0, 0, 0, 0.02);
}
.destination__item:last-child {
  margin-left: 25px;
}
.destination__item:last-child:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 255px;
  bottom: 45px;
  right: -66px;
  background: url("../img/dbg.svg") no-repeat;
  z-index: -1;
}
.destination__info {
  position: absolute;
  bottom: -4px;
  background: #fff;
  width: 100%;
  padding: 27px 25px 42px 20px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.destination__info--title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 500;
  color: #5E6282;
  margin-bottom: 18px;
}
.destination__info--text {
  padding-left: 34px;
  background: url("../img/navigation.svg") no-repeat left;
  color: #5E6282;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
.destination__item .destination__info:first-child {
  padding: 27px 26px 42px 19px;
}
.destination__item .destination__info:nth-child(2) {
  padding: 27px 28px 42px 19px;
}
.destination__item .destination__info:nth-child(3) .destination__item .destination__info--text {
  padding-left: 30px;
}

.book__left {
  max-width: 511px;
  width: 100%;
  margin-left: 69px;
}
.book__left .section__sub {
  margin-bottom: 16px;
}
.book__left .section__title {
  margin-left: -3px;
}
.book__right {
  max-width: 485px;
  width: 100%;
  position: relative;
  height: fit-content;
  padding-top: 78px;
  margin-right: 19px;
}
.book__right:before {
  content: "";
  width: 100%;
  height: 100%;
  top: -95px;
  right: -10px;
  position: absolute;
  background: url("../img/blue.svg") no-repeat top right;
  background-size: contain;
}
.book__features {
  margin-top: 31px;
  margin-left: -3px;
}
.book__feature {
  margin-bottom: 48px;
  padding-left: 68px;
  position: relative;
}
.book__feature:before {
  content: "";
  width: 47px;
  height: 47px;
  background: #F1A501;
  border-radius: 13px;
  position: absolute;
  left: 0;
  top: 3px;
}
.book__feature:after {
  content: "";
  width: 47px;
  height: 47px;
  background: url("../img/selection.svg") no-repeat center center;
  border-radius: 13px;
  position: absolute;
  left: 0;
  top: 3px;
}
.book__feature:nth-child(2):before {
  background: #F15A2B;
}
.book__feature:nth-child(2):after {
  background: url("../img/water-sport.svg") no-repeat center center;
}
.book__feature:nth-child(3):before {
  background: #006380;
}
.book__feature:nth-child(3):after {
  background: url("../img/taxi.svg") no-repeat center center;
}
.book__feature--title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #5E6282;
  margin-bottom: 4px;
}
.book__feature--text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #5E6282;
  max-width: 327px;
}
.book__trip {
  background: #fff;
  width: fit-content;
  border-radius: 26px;
  padding: 20px 24px 31px;
  position: relative;
  box-shadow: 0px 1.8518518209px 3.1481480598px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px rgba(0, 0, 0, 0.02), 0px 100px 80px rgba(0, 0, 0, 0.02);
}
.book__trip--img {
  margin-bottom: 21px;
}
.book__trip--title {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #080809;
  margin-bottom: 13px;
}
.book__trip--text {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #84829A;
  margin-bottom: 21px;
}
.book__trip--text span:first-child {
  margin-left: -4px;
}
.book__trip--text span {
  margin-left: 6px;
}
.book__trip--actions {
  gap: 17px;
  margin-bottom: 29px;
  padding-left: 3px;
}
.book__trip--count {
  padding-left: 31px;
  background: url("../img/building.svg") no-repeat left;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #84829A;
  padding-top: 1px;
}
.book__ongoing {
  position: absolute;
  background: #fff;
  border-radius: 18px;
  padding: 18px 25px 22px 20px;
  bottom: 51px;
  right: 2px;
  gap: 11px;
  box-shadow: 0px 1.8518518209px 3.1481480598px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px rgba(0, 0, 0, 0.02), 0px 100px 80px rgba(0, 0, 0, 0.02);
}
.book__ongoing--img img {
  margin-top: 2px;
}
.book__ongoing--sub {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: #84829A;
  margin-bottom: 5px;
}
.book__ongoing--title {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #080809;
  margin-bottom: 14px;
}
.book__ongoing--status {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: -0.05em;
  margin-bottom: 10px;
  color: #080809;
}
.book__ongoing--status span {
  color: #8A79DF;
  margin-left: -1px;
}
.book__ongoing--progress {
  width: 156px;
  height: 5px;
  border-radius: 30px;
  background: #F5F5F5;
  position: relative;
}
.book__ongoing--progress:after {
  content: "";
  width: 73px;
  background: #8A79DF;
  height: 5px;
  border-radius: 30px;
  position: absolute;
  left: 1px;
  top: 0;
}

.partners {
  padding-bottom: 158px;
}
.partners .container {
  max-width: 1156px;
}
.partners__list {
  gap: 12px;
}
.partners__item {
  cursor: pointer;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 4px;
}
.partners__item img {
  mix-blend-mode: luminosity;
}
.partners__item:first-child {
  padding-left: 44px;
}
.partners__item:nth-child(2) {
  padding-left: 25px;
  padding-top: 2px;
  padding-right: 25px;
  margin-right: 13px;
}
.partners__item:nth-child(4) {
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 0;
}
.partners__item:nth-child(5) {
  padding-left: 53px;
}
.partners__item:hover {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 1.8518518209px 3.1481480598px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px rgba(0, 0, 0, 0.02), 0px 100px 80px rgba(0, 0, 0, 0.02);
}
.partners__item:hover img {
  mix-blend-mode: normal;
}

.testimonials {
  padding-top: 152px;
  padding-bottom: 135px;
}
.testimonials .section__title {
  max-width: 418px;
}
.testimonials .container {
  margin-left: 183px;
}
.testimonials__content {
  gap: 80px;
}
.testimonials__left {
  position: relative;
  padding-top: 10px;
}
.testimonials__left .section__sub {
  text-transform: uppercase;
  padding-left: 3px;
  margin-bottom: 8px;
}
.testimonials__left .section__title {
  padding-left: 4px;
}
.testimonials__left .swiper-pagination {
  left: 3px;
}
.testimonials__right {
  height: 356px;
  width: calc(100% - 498px);
}
.testimonials__slider {
  height: 100%;
  padding-top: 34px;
  padding-left: 38px;
  padding-right: 80px;
  padding-bottom: 77px;
}

.testimonial.swiper-slide-next {
  margin-bottom: 32px;
}
.testimonial__img {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  left: -37px;
  top: -34px;
}
.testimonial__text {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
  line-height: 32px;
  color: #5E6282;
  margin-bottom: 34px;
}
.testimonial__author .testimonial__name {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  color: #5E6282;
  margin-bottom: 5px;
}
.testimonial__author .testimonial__city {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21px;
  color: #5E6282;
  margin-bottom: 0;
}

.subscribe {
  margin-bottom: 166px;
  position: relative;
}
.subscribe:after {
  content: "";
  width: 153px;
  height: 166px;
  background: url("../img/plus.svg") no-repeat;
  position: absolute;
  bottom: -70px;
  right: 36px;
}
.subscribe .container {
  position: relative;
}
.subscribe .container:after {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: linear-gradient(216.12deg, #747def 2.81%, #5e3be1 100%);
  position: absolute;
  right: -5px;
  top: -13px;
}
.subscribe .container:before {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: url("../img/send1.svg") no-repeat center center;
  position: absolute;
  right: -7px;
  top: -13px;
  z-index: 1;
}
.subscribe__content {
  max-width: 1170px;
  margin: 0 auto;
  background: rgba(223, 215, 249, 0.2);
  padding: 79px 0 78px;
  border-radius: 129px 20px 20px 20px;
  position: relative;
}
.subscribe__content:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/s1.svg") no-repeat left bottom;
  left: -80px;
  bottom: 0;
  z-index: -1;
}
.subscribe__content:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/s2.svg") no-repeat right top;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.subscribe__title {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 74px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 33px;
  font-size: 2.0625rem;
  line-height: 54px;
  color: #5E6282;
  letter-spacing: 0.4px;
  padding-left: 0;
}
.subscribe__form {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 666px;
  margin: 0 auto;
}
.subscribe__form--input {
  background: #fff;
  height: 68px;
  width: 421px;
  padding: 25px 66px;
  border-radius: 10px;
  position: relative;
}
.subscribe__form--input:before {
  content: "";
  width: 21px;
  height: 18px;
  position: absolute;
  background: url("../img/email.svg") no-repeat;
  top: 25px;
  left: 31px;
}
.subscribe__form--input input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1240px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  header .nav__content {
    padding-right: 0;
  }
  .category .container {
    margin-left: auto;
  }
  .category__item {
    width: calc(25% - 26px);
  }
  .category__title {
    white-space: wrap;
  }
  .subscribe .container:before, .subscribe .container:after {
    right: 0;
  }
  .destination__item:last-child {
    margin-left: 0;
  }
  .destination__item:last-child:after {
    display: none;
  }
  .subscribe:after {
    right: 0;
  }
}
@media screen and (max-width: 1024px) {
  header {
    padding-bottom: 80px;
  }
  header .nav__actions {
    gap: 35px;
    margin-right: 35px;
  }
  header .banner__right {
    max-width: 500px;
    width: 100%;
  }
  header .banner__right:before {
    width: 100px;
    height: 100px;
    background-size: 100%;
    left: 100px;
    top: 0;
  }
  header .banner__right:after {
    width: 100px;
    height: 100px;
    background-size: 100%;
    right: 0;
    top: 80px;
  }
  .category {
    margin-top: 50px;
  }
  .category__list {
    margin-top: 40px;
  }
  .category__item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .destination {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .destination__list {
    margin-top: 40px;
  }
  .testimonials {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .testimonials .testimonial.swiper-slide {
    padding: 20px 25px;
  }
  .testimonials .testimonial__text {
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
  }
  .testimonials .testimonial__name {
    font-size: 16px;
    font-size: 1rem;
  }
  .partners {
    padding-bottom: 100px;
  }
  .menu {
    gap: 30px;
    margin-right: 40px;
  }
  .subscribe__content {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 900px) {
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__col:last-child {
    width: 100%;
    margin-top: 20px;
  }
  .footer__copyright {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  header .banner__title {
    font-size: 60px;
    font-size: 3.75rem;
    line-height: 70px;
  }
  header .banner__title span:after {
    width: 280px;
    background-size: 100%;
  }
  header .nav__lang--selected {
    font-size: 15px;
    font-size: 0.9375rem;
  }
  header .nav__lang--item {
    font-size: 15px;
    font-size: 0.9375rem;
  }
  header .nav__actions {
    gap: 20px;
    margin-right: 20px;
  }
  .menu {
    gap: 20px;
    margin-right: 20px;
  }
  .menu__link {
    font-size: 15px;
    font-size: 0.9375rem;
  }
  .menu__item:nth-child(2) {
    margin-right: 0;
  }
  .btn__link {
    font-size: 15px;
    font-size: 0.9375rem;
  }
  .btn__outline {
    font-size: 15px;
    font-size: 0.9375rem;
  }
  .section__title {
    font-size: 42px;
    font-size: 2.625rem;
  }
  .book__content {
    gap: 20px;
  }
  .subscribe {
    margin-bottom: 100px;
  }
  .subscribe__title {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 32px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .partners__item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .destination__item {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  header .btn__menu {
    display: flex;
    z-index: 999;
  }
  header .banner__right {
    max-width: 400px;
  }
  header .nav__actions {
    margin-left: auto;
  }
  header .nav__lang {
    margin-right: 20px;
  }
  .menu {
    display: none;
  }
  .menu.open {
    display: flex;
    position: fixed;
    width: 300px;
    height: 100vh;
    z-index: 999;
    flex-direction: column;
    right: 0;
    top: 0;
    align-items: flex-start;
    padding: 50px 30px 30px;
    background: #fff;
    margin-right: 0;
    box-shadow: 0px 1.8518518209px 3.1481480598px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px rgba(0, 0, 0, 0.02), 0px 100px 80px rgba(0, 0, 0, 0.02);
  }
  .category__list {
    flex-wrap: wrap;
    margin-top: 25px;
  }
  .category__item {
    width: calc(50% - 18px);
  }
  .category__item:hover:after {
    width: 50px;
    height: 50px;
    bottom: -15px;
    left: -15px;
  }
  .book__content {
    flex-wrap: wrap;
  }
  .book__left {
    width: 100%;
  }
  .book__right {
    margin: 0 auto;
  }
  .testimonials {
    padding-bottom: 50px;
  }
  .testimonials__content {
    flex-direction: column;
  }
  .testimonials__left {
    margin-bottom: 60px;
  }
  .swiper-vertical .swiper-button-next, .swiper-vertical .swiper-button-prev {
    right: 40px;
  }
  .partners__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .partners {
    padding-bottom: 50px;
  }
  .destination {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .destination__item {
    overflow: hidden;
  }
  .destination__list {
    gap: 20px;
  }
  .destination__info--title {
    flex-direction: column;
    gap: 5px;
  }
  .swiper-pagination {
    display: none;
  }
  .footer__col:first-child {
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__text {
    margin: 0 auto;
    text-align: center;
  }
  .footer__socials {
    justify-content: center;
  }
  .footer__sub {
    text-align: center;
  }
  .footer__apps {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding-bottom: 0;
  }
  header .banner__content {
    flex-direction: column;
  }
  header .banner__left {
    padding-top: 30px;
  }
  header .banner__right {
    position: relative;
    margin-left: auto;
    margin-top: -150px;
  }
  header .banner__sub {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  header .banner__title {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 49px;
    max-width: 480px;
    width: 100%;
    margin-bottom: 20px;
  }
  header .banner__title br {
    display: none;
  }
  header .banner__title span:after {
    width: 180px;
    bottom: 10px;
    left: -20px;
  }
  header .banner__text {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 24px;
  }
  header .banner__actions {
    flex-direction: column;
    align-items: flex-start;
  }
  .section__sub {
    font-size: 16px;
    font-size: 1rem;
  }
  .section__title {
    font-size: 32px;
    font-size: 2rem;
    line-height: 42px;
  }
  .category__item {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .category__item:nth-child(2) {
    padding-top: 25px;
  }
  .category__item:nth-child(2) .category__icon {
    height: 78px;
    background-size: contain;
    background-position: center center;
    margin-bottom: 29px;
  }
  .category__title {
    font-size: 18px;
    font-size: 1.125rem;
  }
  .category__text {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 24px;
  }
  .destination__list {
    flex-direction: column;
  }
  .destination__info--title {
    flex-direction: row;
  }
  .destination__img img {
    object-fit: cover;
    width: 100%;
    height: 450px;
  }
}
@media screen and (max-width: 480px) {
  header .banner__right {
    max-width: 250px;
  }
  header .banner__right:before, header .banner__right:after {
    display: none;
  }
  header .nav__logo {
    width: 70px;
  }
  header .nav__lang--selected {
    font-size: 13px;
    font-size: 0.8125rem;
  }
  header .nav__lang--item {
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .btn__link {
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .btn__orange {
    font-size: 16px;
    font-size: 1rem;
  }
  .btn__play {
    font-size: 16px;
    font-size: 1rem;
  }
  .btn__outline {
    font-size: 13px;
    font-size: 0.8125rem;
    padding: 8px 10px;
  }
  .btn__subscribe {
    width: 100%;
  }
  .footer__menu--link {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .footer__title {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 15px;
  }
  .book__ongoing {
    bottom: auto;
    top: 80px;
  }
  .category__item {
    width: 100%;
  }
  .testimonials__left {
    margin-bottom: 40px;
  }
  .testimonials__slider {
    padding-right: 40px;
  }
  .testimonials .testimonial__text {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .testimonials .swiper-vertical .swiper-button-next, .testimonials .swiper-vertical .swiper-button-prev {
    right: 15px;
  }
  .testimonials .swiper-slide-next {
    left: 20px;
  }
  .testimonials .swiper-slide-next .testimonial__img {
    display: none;
  }
  .testimonials .section__sub {
    text-align: center;
  }
  .testimonials .section__title {
    text-align: center;
  }
  .subscribe:after {
    width: 50px;
    background-size: 100% 100%;
  }
  .subscribe__form {
    flex-direction: column;
  }
  .subscribe__form--input {
    width: 100%;
  }
  .subscribe__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .subscribe__title {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=index.css.map */
