.subscribe{
  margin-bottom: 166px;
  position: relative;
  &:after{
    content: '';
    width: 153px;
    height: 166px;
    background: url('#{$img-path}/plus.svg') no-repeat;
    position: absolute;
    bottom: -65px;
    right: 36px;

  }
  .container{
    position: relative;

    &:after{
      content: '';
      width: 70px;
      height: 70px;
      border-radius: 100%;
      background: linear-gradient(216.12deg, #747def 2.81%, #5e3be1 100%);
      position: absolute;
      right: -20px;
      top: -13px;
    }
    &:before{
      content: '';
      width: 70px;
      height: 70px;
      border-radius: 100%;
      background:url('#{$img-path}/send1.svg') no-repeat center center;
      position: absolute;
      right: -20px;
      top: -13px;
      z-index: 1;
    }
  }
  &__content{
    max-width: 1170px;
    margin: 0 auto;
    background: rgba($lavender, .2);
    padding: 79px 0 78px;
    border-radius: 129px 20px 20px 20px;
    position: relative;
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: url('#{$img-path}/s1.svg') no-repeat left bottom;
      left: -80px;
      bottom: 0;
      z-index: -1;
    }
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: url('#{$img-path}/s2.svg') no-repeat right top;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  &__title{
    max-width: 859px;
    width: 100%;
    margin: 0 auto 74px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    @include font-size(33);
    line-height: 54px;
    color: $de-blue;
  }
  &__form{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    &--input{
      background: $white;
      height: 68px;
      width: 421px;
      padding: 25px 66px;
      border-radius: 10px;
      position: relative;
      &:before{
        content: '';
        width: 21px;
        height: 18px;
        position: absolute;
        background: url('#{$img-path}/email.svg') no-repeat ;
        top: 27px;
        left: 31px;
      }
      input{
        width: 100%;
        height: 100%;
        @include font-size(14);
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
      }

    }
  }
}