.footer{
  .container{
    max-width: 1065px;
  }
  &__content{
    gap: 75px;
  }
  &__col{
    &:nth-child(2){
      padding-left: 5px;
    }
    &:nth-child(4){
      padding-left: 17px;
    }
    &:last-child{
      padding-left: 5px;
      padding-top: 22px;
    }
  }
  &__logo{
    margin-bottom: 20px;
    &--link{
      font-family: Poppins, sans-serif;
      font-weight: 500;
     @include font-size(44);
      line-height: 66px;
      color: $s-cadet;
      margin-bottom: 19px;
    }
  }
  &__text{
    max-width: 207px;
    width: 100%;
    @include font-size(13);
    line-height: 1.25;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: $de-blue;
  }
  &__title{
    font-family: Poppins, sans-serif;
    font-weight: 700;
    @include font-size(21);
    line-height: 1.25;
    color: $v-black;
    margin-bottom: 34px;
    margin-top: 21px;
  }
  &__menu{
    &--link{
      font-family: Poppins, sans-serif;
      font-weight: 500;
      @include font-size(18);
      line-height: 1.25;
      color: $de-blue;
      white-space: nowrap;

    }
    &--item{
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__socials{
    gap: 25px;
    margin-bottom: 29px;
    margin-left: 6px;
    &--item{
      width: 41px;
      height: 41px;
      border-radius: 100%;
      background-color: transparent;
      box-shadow: 0px 2px 10px 0px #0000001A;
      position: relative;
      transition: all .3s;
      &:hover{
        transition: all .3s;
        &:before{
          content: '';
          width: 100%;
          height: 100%;
          background: url('#{$img-path}/s-hover.svg') no-repeat;
          background-size: 100% 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          transition: all .3s;
        }
      }
    }
    &--fb{
      background-image: url('#{$img-path}/fb.svg');
      background-position: center center;
      background-repeat: no-repeat;
      &:hover{
        background-image: url('#{$img-path}/fb-h.svg');
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    &--instagram{
      background-image: url('#{$img-path}/insta.svg');
      background-position: center center;
      background-repeat: no-repeat;
      &:hover{
        background-image: url('#{$img-path}/insta-h.svg');
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    &--twitter{
      background-image: url('#{$img-path}/twitter.svg');
      background-position: center center;
      background-repeat: no-repeat;
      &:hover{
        background-image: url('#{$img-path}/twitter-h.svg');
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
  &__sub{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    padding-left: 4px;
   @include font-size(20);
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: $de-blue;
    margin-bottom: 16px;
  }
  &__apps{
    gap: 7px;
    padding-left: 2px;
    &--link{
      width: 107px;
      height: 35px;
    }
    &--google{
      background: url('#{$img-path}/google.svg') no-repeat;
    }
    &--apple{
      background: url('#{$img-path}/apple.svg') no-repeat;
    }
  }
  &__copyright{
    margin-top: 84px;
    margin-bottom: 79px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
   @include font-size(14);
    line-height: 1.25;
    color: $de-blue;

  }
}