/* Error: Undefined variable.
 *    ,
 * 10 |     background: url('#{$img-path}/header-left.svg') no-repeat;
 *    |                        ^^^^^^^^^
 *    '
 *   css/components/header.scss 10:24  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 10 \2502      background: url('#{$img-path}/header-left.svg') no-repeat;\a    \2502                         ^^^^^^^^^\a    \2575 \a   css/components/header.scss 10:24  root stylesheet";
}
